# Server
PORT=5001
NODE_ENV=development

# Database (MySQL Workbench)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=batman
DB_NAME=car_rental_db

# JWT
JWT_SECRET=3c99842c7846868513a6a896532069ad165c3ac19ec6a1441922c18a698d498f
JWT_EXPIRES_IN=7d
